dist: xenial
sudo: false
language: python
python:
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
before_install:
  - pip install poetry
install:
  - poetry install
script:
  - coverage run --source=arcgis2geojson ./run_tests.py
  - if [[ $TRAVIS_PYTHON_VERSION == *3.[6-9]* ]]; then poetry build; fi
after_success:
  - coveralls
