name: Run tests
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: 'Build, Test, Lint: ${{ matrix.python-version }}'
        uses: chris48s/python-package-shared@main
        with:
          python-version: ${{ matrix.python-version }}
          pre-install: poetry

  write-badges:
    needs: build
    uses: chris48s/python-package-shared/.github/workflows/write-badges-poetry2.yml@main
    if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master'}}
    with:
      build_result: ${{ needs.build.result }}
